/*
   실습2 : CSS 파일
*/

fieldset {  		
    width: 400px;		
    text-align: center;
    background: #dbdbdb;
}
div.box {
    width: 500px;	
    height: 50px;
    box-align: center middle;		
    margin: 10px;
    padding: 10px;
    background: #ffcc00;
    display: none;
}