
<html>
        <head>
            <title>객체 관련 키워드</title>
            <style>
                .area {
                    width : 600px;
                    height : auto;
                    padding : 5px;
                    border: 3px solid black;
                    background : lemonchiffon;
                }
            </style>
        </head>
        <body>
            <h1>객체 관련 키워드</h1>
            <h3>instanceof 키워드</h3>
            <p>A instanceof B : A는 B의 한 종류다.</p>
            <button onclick="test1();">실행 확인</button>
            <div id="area1" class="area"></div>
    
            <script>
                function Dog(name){
                    this.name = name;
                }
    
                function test1(){
                    var myDog = new Dog('수련이');
    
                    area1.innerHTML += "myDog instanceof Dog : " 
                                    + (myDog instanceof Dog) + "<br>";
    
                    area1.innerHTML += "myDog instanceof Object : "
                                    + (myDog instanceof Object) + "<br>";
    
                    area1.innerHTML += "myDog instanceof Number : "
                                    + (myDog instanceof Number) + "<br>";
    
                    area1.innerHTML += "myDog instanceof String : "
                                    + (myDog instanceof String) + "<br>";
    
                    area1.innerHTML += "myDog instanceof Boolean : "
                                    + (myDog instanceof Boolean) + "<br>";
                    
                    // myDog.name;
                    // myDog['name'];
    
                    area1.innerHTML += "myDog name is " + myDog.name +"<br>";
                }
            </script>
    
            <hr>
    
            <h3>new 키워드</h3>
            <button onclick="test2();">실행 확인</button>
            <div id="area2" class="area"></div>
    
            <script>
                function Duck(firstname, lastname){
                    this.firstname = firstname;
                    this.lastname = lastname;
                }
    
                function test2(){
                    var duck1 = new Duck('Duck', 'Donald');
    
                    console.log(duck1);
    
                    area2.innerHTML += "첫번째 오리의 풀네임은 "
                        +duck1.firstname + duck1.lastname + "입니다. <br>";
    
                    // new 키워드가 붙지 않으면 객체를 생성하지 않는다.
                    // var duck2 = Duck('Mc', 'Donald');
                    var duck2 = new Duck('Mc', 'Donald');
    
                    console.log(duck2);
    
                    area2.innerHTML += "두번째 오리의 풀네임은 "
                        + duck2.firstname + duck2.lastname + "입니다. <br>";
                }
            </script>
    
            <hr>
    
            <h3>캡슐화와 상속</h3>
            <h3>캡슐화</h3>
            <p>객체 내부의 내용을 바깥으로 표출하지 않는 것</p>
            <button onclick="test3();">실행 확인</button>
            <div id="area3" class="area"></div>
    
            <script>
                function Fruit(fname, fcolor, forigin){
                    var name = fname;
                    var color = fcolor;
                    var origin = forigin;
    
                    // 클로져
                    this.getName = function() {
                        return name;
                    }
    
                    this.getColor = function() {
                        return color;
                    }
    
                    this.getOrigin = function() {
                        return origin;
                    }
    
                    this.setName = function(fname) {
                        if (fname == "" || fname == null){
                            throw '이름을 입력하셔야 합니다.';
                        } else {
                            name = fname;
                        }
                    }
    
                    this.setColor = function(fcolor) {
                        color = fcolor;
                    }
    
                    this.setOrigin = function(forigin){
                        origin = forigin;
                    }
                }
    
                function test3(){
                    var fname = '사과';
                    var fcolor= "Red";
                    var forigin = "deagu";
    
                    var fruit1 = new Fruit(fname, fcolor, forigin);
    
                    console.log(fruit1);
                    console.log(fruit1.getName());
    
                    // fruit1.name = '배';
                    fruit1.setName('배');
    
                    console.log(fruit1);
                    console.log(fruit1.getName());
    
                    with(fruit1){
                        area3.innerHTML += "과일 명 : " + getName() + "<br>";
                        area3.innerHTML += "과일 색 : " + getColor() + "<br>";
                        area3.innerHTML += "원산지 : " + getOrigin() + "<br>";
                    }
                }
            </script>
    
            <h3>상속</h3>
            <p>하나의 객체를 만들 때 직접 모든 내용을 만드는 것이 아니라<br>
               부모로부터 존재하는 값을 기본으로 가지고 시작할 수 있도록<br>
               즉 코드의 재사용성을 고려한 기술이 상속이다.</p>
            <button onclick="test4();">실행 확인</button>
            <script>
                function Book(t, a, p, d) {
                    var title = t;
                    var author = a;
                    var price = p;
                    var discountRate = d;
    
                    this.getTitle = function(){
                        return title;
                    }
    
                    this.getAuthor = function(){
                        return author;
                    }
    
                    this.getPrice = function(){
                        return price;
                    }
    
                    this.getDiscountRate = function(){
                        return discountRate;
                    }
    
                    this.setTitle = function(t){
                        title = t;
                    }
    
                    this.setAuthor = function(a){
                        author = a;
                    }
    
                    this.setPrice = function(p){
                        if(p <= 0) {
                            throw '가격은 0보다 커야 합니다.';
                        } else {
                            price = p;
                        }
                    }
    
                    this.setDiscountRate = function(d){
                        if(d < 0){
                            throw '할인율은 0이상 이어야 합니다.'
                        } else {
                            discountRate = d;
                        }
                    }
                }
    
                // 생성자의 내용을 중간에 변경하고자 할 경우
                // 객체명.prototype.함수명 을 통해 내용을 추가, 변경할 수 있다.
    
                Book.prototype.getSellPrice = function(){
                    return this.getPrice() 
                           - (this.getPrice() * this.getDiscountRate());
                }
    
                function test4(){
                    var myBook = new Book('자바의 정석','남궁성',30000,0.1);
    
                    alert(
                        "title : " + myBook.getTitle() +"\n"
                      + "author : " + myBook.getAuthor() + "\n"
                      + "판매가 : " + myBook.getSellPrice()
                    );
                }
            </script>
    
            <br><br>
    
            <h3>상속 확인하기</h3>
            <button onclick="test5();">실행 확인</button>
            <script>
                function Novel(t, a, p, d, tp) {
                    // 상속을 위한 부모 선정
                    this.parent = Book;
    
                    // 부모 생성자 호출
                    this.parent(t, a, p, d);
    
                    // 자신의 필드
                    var type = tp;
    
                    this.getType = function(){
                        return type;
                    }
    
                    this.setType = function(tp){
                        type = tp;
                    }
                }
    
                Novel.prototype = Book.prototype;
    
                function test5(){
                    var novel1 = new Novel(
                        '어린왕자', 
                        '생텍쥐페리',
                        15000,
                        0.1,
                        '추리');
                    
                    alert(
                          "title : " + novel1.getTitle() + "\n"
                        + "author : " + novel1.getAuthor() + "\n"
                        + "type : " + novel1.getType() + "\n"
                        + "판매가 : " + novel1.getSellPrice()
                        );
                }
            </script>
    
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
        </body>
    </html>