<html>
    <head>
        <title>HTML 태그 접근하기</title>
        <style>
            .area{
                width: 300px;
                height: 400px;
                border: 3px solid red;
            }
        </style>
    </head>
    <body>
        <h1>HTML 태그 접근하기</h1>
        <h3>아이디로 접근하기</h3>
        <div id="area1" class="area"></div>
        <button onclick="accessId();">아이디로 접근 확인</button>
        <script>
            function accessId(){
                var area1=document.getElementById("area1");
                area1.style.backgroundColor="red";
                area1.innerHTML="아이디로 접근 성공";
            }
        </script>

        <hr>

        <h3>태그명을 접근하기</h3>
        <ul>
            <li>목록1</li>
            <li>목록2</li>
            <li>목록3</li>
            <li>목록4</li>
            <li>목록5</li>
        </ul>
        <button onclick="accessTagName();">태그명으로 접근하기</button>
        <script>
            function accessTagName(){
                var list=document.getElementsByTagName('li');
                console.log("전달받은 li 수 : "+list.length);
                var changeColor=50;

                // for-in 문
                for(var i in list){
                    console.log(list[i]);
                    list[i].style.backgroundColor="rgb(130,220,"+changeColor+")";
                    changeColor+=50;
                }

                // 일반 for문
                // for(var i=0;i<list.length;i++){
                //     console.log(list[i]);
                //     list[i].style.backgroundColor="rgb(130,220,"+changeColor+")";
                //     changeColor+=50;
                // }
            }
        </script>

        <hr>

        <h3>name 속성으로 접근하기</h3>
        <form>
            <fieldset>
                <legend>취미 선택하기</legend>
                <table>
                    <tr>
                        <td><input type="checkbox" name="hobby" value="sleep"><label>숙면 취하기</label></td>
                        <td><input type="checkbox" name="hobby" value="movie"><label>영화 보기</label></td>
                        <td><input type="checkbox" name="hobby" value="eat"><label>식사하기</label></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="hobby" value="game"><label>게임하기</label></td>
                        <td><input type="checkbox" name="hobby" value="walk"><label>걷기</label></td>
                        <td><input type="checkbox" name="hobby" value="shopping"><label>쇼핑</label></td>
                    </tr>
                </table>
            </fieldset>
        </form>
        <div id="area2" class="area"></div>
        <button onclick="accessName();">이름으로 접근하기</button>
        <script>
            function accessName(){
                var hobby=document.getElementsByName('hobby');
                console.log("hobby 개수 : "+hobby.length);
                var resultItem="";
                for(var i in hobby){
                    if(hobby[i].checked==true){
                        resultItem+=hobby[i].value+" 선택";
                    }
                }
                console.log("선택 내역 : "+resultItem);
                document.getElementById('area2').innerHTML=resultItem;
            }
        </script>
        
        <hr>

        <h3>textBox 안의 value 읽어오기</h3>
        <form>
            이름 : <input type="text" name="userName" id="userName"><br>
            <input type="button" value="input 값 읽어오기" onclick="readValue();">
        </form>
        <div id="area3" class="area"></div>
        <script>
            function readValue(){
                var inputValue=document.getElementById("userName");
                if(inputValue.value==""||inputValue.value.length==0){
                    alert("공백 ㄴ");
                }else{
                    document.getElementById("area3").innerHTML=inputValue.value+"! "+inputValue.value+"! "+inputValue.value+"!";
                }
            }
        </script>

        <hr>

        <h3>input:password 활용하여 비밀번호 유효성 검사</h3>
        <p>비밀번호를 입력받아 8자 미만이면 : 짧다 16자 이상이면 : 길다 값이 비었을 경우 : 공백 ㄴ 정상일 경우 : 성공했다</p>
        <form>
            비밀번호 : <input type="password" name="userPwd" id="userPwd" placeholder="8~15만 받는다"><br>
            <button onclick="pwdValidation();">로-긴</button>
            <div id="area4" class="area"></div>
            <script>
                function pwdValidation(){
                    var pwd=document.getElementById("userPwd");
                    var result="";
                    
                    switch(validate(pwd)){
                    case 1:
                        alert("공백 ㄴ");
                        result="다시 해라."
                        break;
                    case 2:
                        alert("짧다.");
                        result="다시 해라."
                        break;
                    case 3:
                        alert("길다.");
                        result="다시 해라."
                        break;
                    default:
                        result="성공했다.";
                    }
                    
                    document.getElementById("area3").innerHTML=result;
                    pwd.focus();
                }

                function validate(pw){
                    var result=0;
                    if(pw.value==""||pw.value.length==0) result=1;
                    else if(pw.value.length<8) result=2;
                    else if(pw.value.length>15) result=3;
                    return result;
                }
            </script>

        </form>
    </body>
</html>