<html>
    <head>
        <title>자바 스크립트 배열</title>
        <style>
            .area{
                width: 850px;
                height: 380px;
                border: 50px double magenta;
                background: cyan;
            }
        </style>
    </head>
    <body>
        <h1>배열</h1>
        <h3>자바 스크립트 배열 : </h3>
        <p>자바에서는 배열을 선언할 때 특정 자료형을 선언하여 해당 자료형의 값들만 받을 수 있지만 <br>
        자바 스크립트에서는 자료형을 별도로 지정하지 않기 때문에 모든 자료형을 하나의 배열에 넣을 수 있다</p>
        <div id="area1" class="area"></div>
        <button onclick="arrayTest1();">확인</button>
        <script>
            function arrayTest1(){
                var arr=['홍길동',20,true,[1,2,3,4]];
                console.log(arr);
            }
        </script>

        <hr>

        <h3>배열 선언</h3>
        <p>배열 선언 시 new Array()를 사용하여 선언할 수도 있고 []를 사용하여 선언할 수도 있다<br>
        또한 배열 선언 시 크기를 지정하거나 지정하지 않아도 된다</p>
        <div id="area2" class="area"></div>
        <button onclick="arrayTest2()">확인하기</button>
        <script>
            function arrayTest2(){
                var arr1=new Array();
                var arr2=new Array(3);

                console.log(arr1);
                console.log(arr2);

                // 배열에 값 대입하기

                arr1[0]="곶감";
                arr1[1]="동그랑땡";
                arr1[2]="송편";
                arr1[3]="전";

                console.log(arr1);

                arr2[0]="버스";
                arr2[1]="기차";
                arr2[2]="비행기";
                arr2[3]="자동차";
                arr2[4]="도보";

                console.log(arr2);

                // 선언과 동시에 초기화
                var arr3=new Array("HTML5","CSS3","JavaScript","JQuery");
                console.log(arr3);
                var arr4=["HTML5","CSS3","JavaScript","JQuery"];
                console.log(arr4);
            }
        </script>

        <hr>

        <h3>array 객체의 메소드(함수)</h3>
        <p>array도 하나의 객체이다. 때문에 배열에서도 여러 종류의 함수를 사용할 수 있다.</p>
        <h4>indexOf() : 배열의 특정 요소가 몇번째인지 확인하여 해당 인덱스를 반환하는 함수</h4>
        <div id="area3" class="area"></div>
        <button onclick="arrayFn1();">확인하기</button>
        <script>
            function arrayFn1(){
                var array=["한과","사과","배","약과","산적"];

                area3.innerHTML+=
                    "사과가 위치한 인덱스 : " + array.indexOf("사과");
            }
        </script>

        <h4>concat() : 두 개의 배열을 합치는 함수</h4>
        <div id="area4" class="area"></div>
        <button onclick="arrayFn2();">확인하기</button>
        <script>
            function arrayFn2(){
                var arr1=['송편','소떡소떡','뻥튀기','델리만쥬','호두과자'];
                var arr2=[1,2,3,4,5];
                var arr3=arr1.concat(arr2);
                var arr4=arr2.concat(arr1);

                area4.innerHTML+="arr1 : "+arr1+"<br>";
                area4.innerHTML+="arr2 : "+arr2+"<br>";
                area4.innerHTML+="arr1 기준 병합 : "+arr3+"<br>";
                area4.innerHTML+="arr2 기준 병합 : "+arr4+"<br>";
            }
        </script>

        <h4>join() : 배열을 하나의 문자열로 합치는 함수</h4>
        <div id="area5" class="area"></div>
        <button onclick="arrayFn3();">확인하기</button>
        <script>
            function arrayFn3(){
                var arr=['집에','가고','싶다'];
                var arrToJoin=arr.join();
                
                area5.innerHTML+="arr의 자료형 : "+typeof(arr)+"<br>";
                area5.innerHTML+="arr을 문자열로 합치기 : "+arrToJoin+"<br>";
                area5.innerHTML+="arrToJoin의 자료형 : "+typeof(arrToJoin)+"<br>";
                console.log(arrToJoin);
            }
        </script>

        <h4>reverse() : 배열의 순서를 반대로 뒤집는 함수</h4>
        <div id="area6" class="area"></div>
        <button onclick="arrayFn4();">확인하기</button>
        <script>
            function arrayFn4(){
                var arr=[1,2,3,4,5,6,7];
                area6.innerHTML+="arr의 내용 : "+arr+"<br>";
                area6.innerHTML+="reverse : "+arr.reverse()+"<br>";
                area6.innerHTML+="뒤집고 원본 : "+arr+"<br>";
                area6.innerHTML+="다시정렬 : "+arr.sort()+"<br>";
            }
        </script>

        <hr>
        <h3>sor() : 배열을 정렬하는 함수</h3>
        <div id="area7" class="area"></div>
        <button onclick="arrayFn5();">확인하기</button>
        <script>
            function arrayFn5(){
                var arr=[10,50,30,20,40];
                area7.innerHTML+="arr : "+arr+"<br>";
                area7.innerHTML+="정렬"+arr.sort()+"<br>";
                // 내립차순
                area7.innerHTML+="내림차순"+arr.sort(function(left, right){
                    return right-left;
                })+"<br>";
            }
        </script>

        <h4>push() : 배열의 맨 뒤에 값을 추가하는 함수<br>
        pop() : 배열의 맨 뒤의 값을 꺼내어 제거하는 함수</h4>
        <div id="area8" class="area"></div>
        <button onclick="arrayFn6();">확인하기</button>
        <script>
            function arrayFn6(){
                var arr=['HTML5','CSS3','JavaScript','JQuery'];
                area8.innerHTML+="arr 초기값 : "+arr+"<br>";

                arr.push("Servlet");

                area8.innerHTML+="push() : "+arr+"<br>";

                arr.sort();

                area8.innerHTML+="sort() : "+arr+"<br>";

                arr.pop();

                area8.innerHTML+="pop() : "+arr+"<br>";

                for(var i in arr){
                    console.log(arr[i]);
                }
            }
        </script>

<h4>slice() : 배열의 요소를 선택하여 잘라내는 함수<br>
    splice() : 배열의 인덱스 위치의 요소를 추가/제거하는 함수</h4>
<div id="area10" class="area"></div>
<button onclick="arrayFn8();">실행 확인</button>

<script>
    function arrayFn8(){
        var arr = ['Java', 'Oracle', 'HTML', 'CSS', 'JavaScript'];

        console.log('우리가 3개월 동안 힘들게 배워 온 과목들');
        console.log(arr);

        area10.innerHTML += "arr : "+ arr + "<br>";

        // slice(시작 인덱스, 종료 인덱스);
        // 원본 배열이 바꿔지 않는다.
        console.log('-------- [ slice 합니다 ] ---------');
        area10.innerHTML += "slice 결과 : " +arr.slice(2,4)+ "<br>";
        
        console.log(arr);

        // splice(인덱스, 제거할 수, 추가할 값)
        // 원본에 영향을 미친다.
        area10.innerHTML += "splice 결과 : " + arr.splice(2,2,'Spring')+"<br>";

        console.log(arr);
    }
</script>

<hr>

<h4>toString() : 배열을 문자열로 변환하는 함수</h4>

<div id="area11" class="area"></div>
<button onclick="arrayFn9();">실행 확인</button>

<script>
    function arrayFn9(){
        var arr = ['나는', '오늘부터','다이어트를','시작한다.'];

        area11.innerHTML += '기본 배열 확인 : ' +arr+"<br>";
        console.log(arr);

        area11.innerHTML += 'toString() 수행 : ' 
             + arr.toString() + "<br>";
        area11.innerHTML += '자료형 확인 : ' 
             + typeof(arr) + "<br>";

        console.log(arr);

        var str = arr.toString();

        console.log(str);
        console.log(typeof(str));

        // join() 함수도 toString()과
        // 동일한 역할을 하지만,
        // join() 괄호 안에 특정 구분자를 사용하면
        // 해당 구분자로 값을 나누어서 표기한다.

        area11.innerHTML += "join(' ')의 결과 : "+
            arr.join(' ')+"<br>";

    }
</script>
        
    </body>
</html>