<html>
    <head>
        <title>CSS 활용</title>
        <!-- 외부 스타일 설정을 참조할 경우 link 태그를 사용하여 스타일을 외부에서 가져올 수 있다
        단, 여러 스타일을 외부에서 참조할 경우 선언 순서에 따라 스타일이 적용되기 떄문에 우선순위를 확인하여 정확히한다 -->
        <link rel="stylesheet" type="text/css" href="../resource/css/polaroid.css">
    </head>
    <body>
        <h1>폴라로이드 사진 만들기</h1>
        <hr>
        <div class="polaroid rotate">
            <img src="../resource/image/city1.PNG" width="300px" height="180px">
            <p class="caption">가나다라마바<br>사아자차카타파하</p>
        </div>
    </body>
</html>