<!doctype html>
<html lang="ko">
    <head>
        <title>1_글자관련태그</title>
    </head>
    <body>
        <!-- 글자 관련 태그들 -->
        <!-- HeadLine 태그들 -->
        <!-- 웹 페이지 내의 제목을 표현하는 태그로 h뒤의 숫자가 작을수록 크게 표현한다-->
        <h1>h1 태그</h1>
        <h2>h2 태그</h2>
        <h3>h3 태그</h3>
        <h4>h4 태그</h4>
        <h5>h5 태그</h5>
        <h6>h6 태그</h6>

        <!-- 줄바꿈 태그 -->
        <br>

        <!-- 글자의 단락을 표현하는 태그들 -->
        <h3>제목을 구분짓는 태그</h3>
        <p>첫 번째 단락</p>
        <p>두 번째 단락</p>
        단락 구분이 없는 글자
        단락 구분이 없는 글자

        <!-- 줄바꿈과 경계선을 표현하는 태그 -->
        <hr>

        <h3>문단을 나누는 태그</h3>
        <p>문단을 나누는 태그는 p, pre 태그가 있다.
            p태그는 문단 영역을 나누는 태그지만 한 개의 공백만                    표시하며,
            줄바꿈 입력을 별도의 태그로 구분해주어야한다.
            pre태그는 여러 칸 띄우기, 줄 바꿈 등을 포함하여 실제 코드로 입력한 내용 그대로 표현하는 태그이다.
        </p>
        <pre>문단을 나누는 태그는 p, pre 태그가 있다.
                p태그는 문단 영역을 나누는 태그지만 한 개의 공백만                    표시하며,
                줄바꿈 입력을 별도의 태그로 구분해주어야한다.
                pre태그는 여러 칸 띄우기, 줄 바꿈 등을 포함하여 실제 코드로 입력한 내용 그대로 표현하는 태그이다.
        </pre>
        <hr>
        <!-- 기타 글자관련 태그들 -->
        <h3>그 밖의 글자관련 태그들</h3>
        일반 글꼴 <br>
        <strong>굵은 글자</strong>를 표현하는 태그 <br>
        <b>글자를 굵게 표현하는 태그</b> <br> <!-- 굵기의 정도 조절 가능 -->
        <em>글자를 기울이는 태그</em> <br>
        <i>글자를 기울이는 태그</i> <br> <!-- 기울임의 정도 조절 가능 -->

        <blockquote cite="https://www.naver.com">
            인용문구를 나타내는 태그
        </blockquote>
        <q>인용문구를 나타내는 태그</q>
        <br>
        <mark>형광펜 효과를 나타내는 태그</mark> <br>
        <u>글자에 밑줄을 긋는 태그</u> <br>
        <s>글자에 취소선을 긋는 태그</s> <br>
        <small>글자를 작게 표시하는 태그</small> <br>
        글자에 <sup>윗첨자</sup>와 <sub>아랫첨자</sub>를 표현할 수 있다 <br>

        <hr>
        <!-- 글자 태그 응용 실습 -->

        <h3>글자 태그 응용하여 여러 태그 사용하기</h3>

        <p>태그들은 해당 태그 내에서 <mark>중첩</mark>으로 사용이 가능하다<br>
        <b>굵은</b>글자를 사용할 수도 있고, <i>기울이거나</i>, <s>취소선</s>을 넣는 등 다양하게 사용할 수 있다</p>
        <br>
        <a href="index.html">처음 페이지로 이동</a>
    </body>
</html>