<!doctype html>
<html>
    <head>
        
    </head>
    <body>
            <h1>자바(JAVA)프레임워크 개발자 양성과정 학습내용</h1>
            <h3>담당 교사 : 유정훈</h3>
            <h4>수강생 명 : 홍길동</h4>
            <hr>
        <ul>
            
            <li>프로그래밍 언어</li>
            <ul>
                <li><s>Java</s></li>
            </ul>
            <li>데이터베이스</li>
            <ul>
                <li><s>Oracle</s></li>
            </ul>
            <li>화면 구현</li>
            <ol>
                <li><mark>HTML5</mark></li>
                <li>CSS5</li>
                <li>JavaScript</li>
                <li>JQuery</li>
            </ol>
            <li>서버 개발 기술</li>
            <ol type="i">
                <li><s>JDBC</s></li>
                <li>Servlet</li>
                <li>JSP</li>
                <li>AJAX</li>
            </ol>
            <li>프레임워크</li>
            <ol type="a">
                <li><b>Sping</b></li>
                <li>MyBatis</li>
            </ol>
        </ul>

        <br>
        <a href="index.html">처음 페이지로 이동</a>
    </body>





</html>