<html>
    <head>
        <title>html 종합 실습 문제</title>
    </head>
    <body>        
        <form>
            고객명 : 
            <input type="text">
        </form>
        <br>
        <form>
            전화번호 : 
            <input type="text">
        </form>
        <br>
        <form>
            E-mail : 
            <input type="email">
        </form>
        <fieldset>
            <legend>피자 사이즈</legend>
            <input type="radio" name="size" value="Small">Small
            <br>   
            <input type="radio" name="size" value="Medium">Medium
            <br>
            <input type="radio" name="size" value="Large">Large
        </fieldset>
        <fieldset>
            <legend>토핑 선택</legend>
            <input type="checkbox" name="topping" value="베이컨">베이컨
            <br>
            <input type="checkbox" name="topping" value="치즈">치즈
            <br>
            <input type="checkbox" name="topping" value="양파">양파
            <br>
            <input type="checkbox" name="topping" value="버섯">버섯
        </fieldset>
        <form>
            희망 배송 시간 : 
            <input type="time">
        </form>
        <form>
            배송시 요청사항 : 
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </form>
        <form>
            <input type="submit" value="주문하기">
        </form>
    </body>
</html>