<html>
    <head>
        <title>HTML 종합 실습 문제2</title>
    </head>
    <body>
        <fieldset>
            <legend>납품자 정보</legend>
            1. 납품자 명 : <input type="text" placeholder="name">
            <br>
            2. email : <input type="email" placeholder="answs@naver.com">
            <br>
            3. 홈페이지 : <input type="url" value="https://">
        </fieldset>
        <fieldset>
            <legend>납품 정보</legend>
            <ul>
                <li>상품명 : <input type="text"></li>
                <li>납품수량 : <input type="number" placeholder="최소100" min="100"></li>
                <li>납품등급 : <input type="range" max="5" min="1" step="1" value="3"></li>
                <li>기타사항 : <textarea name="" id="" cols="30" rows="5"></textarea></li>
            </ul>
        </fieldset>
    </body>
</html>