<html>
    <head>
        <title>HTML 종합 실습 문제2</title>
    </head>
    <body>
        <fieldset>
            <select name="" id="s">
                <option value="A"></option>
                <option value="B"></option>
            </select>
            <legend>납품자 정보</legend>
            <ol>
                <li>납품자명 : <input list="product">
                    <datalist id="product">
                        <option value="dog1004">도그1004</option>
                        <option value="catchicken">고양이치킨</option>
                        <option value="milk">우유</option>
                    </datalist>
                </li><br>
                <li>email : <input type="email" placeholder="answs@naver.com"></li><br>
                <li>홈페이지 : <input type="url" value="https://"></li>
            </ol>
        </fieldset>
        <fieldset>
            <legend>납품 정보</legend>
            <ul>
                <li>상품명 : <input type="text"></li><br>
                <li>납품수량 : <input type="number" placeholder="최소10이상" min="10" max="100" step="10"></li><br>
                <li>납품등급 : <input type="range" max="10" min="0" step="2" value="8"></li><br>
                <li>기타사항 : <textarea cols="30" rows="5"></textarea></li>
            </ul>
        </fieldset>
    </body>
</html>